<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Main_Pension</servlet-name>
		<servlet-class>controller.pension.PensionControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main_Pension</servlet-name>
		<url-pattern>/pension</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add_Pension</servlet-name>
		<servlet-class>controller.pension.PensionControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add_Pension</servlet-name>
		<url-pattern>/pension/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View_Pension</servlet-name>
		<servlet-class>controller.pension.PensionControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View_Pension</servlet-name>
		<url-pattern>/pension/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Edit_Pension</servlet-name>
		<servlet-class>controller.pension.PensionControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit_Pension</servlet-name>
		<url-pattern>/pension/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Delete_Pension</servlet-name>
		<servlet-class>controller.pension.PensionControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete_Pension</servlet-name>
		<url-pattern>/pension/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Main_Role</servlet-name>
		<servlet-class>controller.roles.RolesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main_Role</servlet-name>
		<url-pattern>/role</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add_Role</servlet-name>
		<servlet-class>controller.roles.RolesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add_Role</servlet-name>
		<url-pattern>/role/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View_Role</servlet-name>
		<servlet-class>controller.roles.RolesControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View_Role</servlet-name>
		<url-pattern>/role/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Edit_Role</servlet-name>
		<servlet-class>controller.roles.RolesControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit_Role</servlet-name>
		<url-pattern>/role/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Delete_Role</servlet-name>
		<servlet-class>controller.roles.RolesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete_Role</servlet-name>
		<url-pattern>/role/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Main_Users</servlet-name>
		<servlet-class>controller.users.UsersControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main_Users</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add_Users</servlet-name>
		<servlet-class>controller.users.UsersControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add_Users</servlet-name>
		<url-pattern>/user/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View_Users</servlet-name>
		<servlet-class>controller.users.UsersControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View_Users</servlet-name>
		<url-pattern>/user/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Edit_Users</servlet-name>
		<servlet-class>controller.users.UsersControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit_Users</servlet-name>
		<url-pattern>/user/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Delete_Users</servlet-name>
		<servlet-class>controller.users.UsersControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete_Users</servlet-name>
		<url-pattern>/user/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LOG-IN</servlet-name>
		<servlet-class>controller.users.UsersControllerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LOG-IN</servlet-name>
		<url-pattern>/users/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LOG-OUT</servlet-name>
		<servlet-class>controller.users.UsersControllerLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LOG-OUT</servlet-name>
		<url-pattern>/users/logout</url-pattern>
	</servlet-mapping>
	<servlet>
	
		<servlet-name>Main_Resources</servlet-name>
		<servlet-class>controller.resources.ResourceControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main_Resources</servlet-name>
		<url-pattern>/resource</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add_Resources</servlet-name>
		<servlet-class>controller.resources.ResourceControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add_Resources</servlet-name>
		<url-pattern>/resource/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View_Resources</servlet-name>
		<servlet-class>controller.resources.ResourceControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View_Resources</servlet-name>
		<url-pattern>/resource/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Edit_Resources</servlet-name>
		<servlet-class>controller.resources.ResourceControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit_Resources</servlet-name>
		<url-pattern>/resource/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Delete_Resources</servlet-name>
		<servlet-class>controller.resources.ResourceControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete_Resources</servlet-name>
		<url-pattern>/resource/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Main_Access</servlet-name>
		<servlet-class>controller.access.AccessControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main_Access</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add_Access</servlet-name>
		<servlet-class>controller.access.AccessControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add_Access</servlet-name>
		<url-pattern>/access/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View_Access</servlet-name>
		<servlet-class>controller.access.AccessControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View_Access</servlet-name>
		<url-pattern>/access/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Edit_Access</servlet-name>
		<servlet-class>controller.access.AccessControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit_Access</servlet-name>
		<url-pattern>/access/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Delete_Access</servlet-name>
		<servlet-class>controller.access.AccessControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete_Access</servlet-name>
		<url-pattern>/access/delete</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
